@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

@media print {

  @page {
    size: A3 landscape;
    margin: 8mm;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  button {
    display: none !important;
  }

  .overflow-x-auto {
    overflow: visible !important;
  }

  #print-area {
    width: 100% !important;
    margin: 0 auto !important;
  }
}